.lobbyBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.cardTitle {
    color: #ffffff;
}

.waitingPlayerCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50%;
}

.waitingPlayerCard > .playerCard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
    background-color:cadetblue;
}
